.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 60px 0 60px; */
  font-family: arial;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  /* background: #1ABC9C; */
  min-height: calc(100vh);
}

.App.center {
    justify-content: space-evenly;
}

.container {
    /* width: 90%; */
    max-width: 400px;
    width: 100%;
}

.App .tile-header {
    padding: 30px 20px 50px;
}

.App .tile-header h3{
    font-size: 30px;
    color: #fff;
    margin-bottom: 40px!important;
    display: block;
    position: relative;
}

.App .tile {
    background: transparent;
    z-index: 1;
    min-height: 310px;
}

.App .tile:before {
    content: "";
    position: absolute;
    left: 50%;
    height: calc(100% + 120px);
    width: 100vw;
    background: #333;
    opacity: 0.1;
    top: -30px;
    transform: translateX(-50%);
    z-index: -1;
}

.App h4.tile-title {
    color: #fff;
    margin: 0 0 25px!important;
    position: relative;
    display: block;
    font-size: 20px!important;
    text-transform: uppercase;
}

.form-group-score .form-control {
    /* width: 80%; */
    height: 32px!important;
    border: none!important;
    position: relative!important;
    padding-top: 14px!important;
    margin-bottom: 0!important;
    padding-bottom: 14px!important;
    font-weight: 600!important;
    font-size: 20px!important;
    padding-right: 50px!important;
    max-width: 100px;
}   

.form-group.form-group-header {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 0px;
    align-items: center;
    position: sticky;
    top: 30px;
    z-index: 1;
}

.form-group.form-group-text {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 0px;
    align-items: center;
}

.form-group.form-group-slide {
    max-width: calc(90% - 60px);
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
}

.form-group.form-group-textarea textarea{
    width: calc(100% - 22px);
    padding: 10px 11px 10px;
    height: 110px;
    margin-bottom: -10px;
}

.form-group.form-group-header:before,
.form-group.form-group-text:before,
.form-group.form-group-slide:before,
.form-group.form-group-textarea:before,
.form-group.form-group-chat:before {
    display: none ;
}

.form-group {
    border: 2px solid #bdc3c7;
    border-radius: 10px;
    background: #eff0f2;
    overflow: hidden;
    margin-bottom: 20px;
}

.form-group:before {
    content: "";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 72px;
    background: #e6e6e6;
}

.login-field-icon {
    position: absolute;
    right: 15px;
    width: 20px;
    top: 6px;
    font-size: 20px;
}

.label-number {
    width: 40px;
    position: absolute;
    text-align: center;
    left: 15px;
    top: 10px;
}

.label-number-text {
    text-transform: uppercase;
    font-size: 10px!important;
    line-height: 10px!important;
}

.label-number span {
    font-size: 30px;
    font-weight: 600;
    color: #34495e;
    display: block;
    line-height: 30px;
}

.label-result {
    position: absolute;
    right: 40px;
    max-width: 100px;
    text-align: center;
    top: 12px;
}

.label-result span {
    font-weight: 600;
    color: #34495e;
}

label { 
    font-weight: normal;
    font-size: 15px;
    line-height: 2.3;
    width: 90%;
    text-align: left;
    position: relative;
    display: block;
    margin: 0 auto;
}

h3 {
    margin-bottom: 30px!important;
    margin-top: 15px!important;
    text-transform: uppercase;
}

h4 {
    font-size: 16px!important;
    margin-top: 10px!important;
    margin-bottom: -10px!important;
}

.btn-block {
    margin-bottom: 20px;
}

[class^="fui-"], [class*="fui-"] {
    font-size: 28px;
}

.login-field-icon {
    position: absolute;
    right: 15px;
    width: 20px;
    top: 6px;
    font-size: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  color: #fff;
}

.App-intro {
  font-size: large;
  max-width: 300px;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
}

.App-login {
  display: flex;
  margin: 20px auto 0;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  color: #fff;
}

.App-login input,
input {
  padding: 8px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #fff;
color: #fff;
}

.App-login .btn > a,
.btn > a,
.btn.signout,
form button {
    /* background: #5ED87C; */
    width: 100%;
    min-width: 220px;
    /* display: block; */
    text-transform: uppercase;
    width: 300px;
    /* padding: 10px 0px; */
    color: #fff;
    transition:0.3s;
    cursor: pointer;
    /* margin-bottom: 20px;
    border: none;
    font-size: 16px; */
}

form {
  max-width: 300px;
}

form button:disabled {
    background: #dddddd;
}

.App-login .btn.coming-soon > a,
.btn.coming-soon > a {
    background: rgba(94, 216, 124, 0.5)!important;
    pointer-events: none;
}

.hide {
    display: none!important;
}

.App-login .btn > a:hover {
    background: #39e664;
}

form input {
    width: calc(100% - 20px);
    display: block;
    margin-bottom: 20px;
}

p {
  color: #fff;
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  color: #fff;
}

span.cap {
    text-transform: capitalize;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}



.score:first-child,
.player-score:first-child {
    margin-top: 30px;
}

.player-score {
  color: #fff;
  margin: 0 0 20px;
  font-size: 20px!important;
  border-bottom: 1px solid #34495e;
  padding-bottom: 5px;
  text-align: left;
  min-width: 220px;
}

.player-score {
    font-size: 20px;
}

.player-score span {
    color: #34495e;
}

.player-score .right {
    float:right;
}

.score p {
  margin-right: 30px;
}

.score input {
  margin-bottom: 0!important;
  padding: 14px 8px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.totalscore {
    margin-bottom: 30px;
}

.slider {
    /* max-width: 100%; */
    /* width: 100%; */
    margin: 0 auto 30px;
}

/* .slick-slide {
    width: 100%;
} */

.slick-dots li button::before {
    color: #fff;
}
.slick-dots li.slick-active button:before {
    color: #fff;
}

.slider .center {
    color: #fff;
    margin: 0 0 10px;
    font-size: 20px;
    padding-bottom: 5px;
    min-width: 300px;
    text-align: left;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
